    @using System.Collections;
    @model List<tl2_tp10_2023_RicardoRobinson1410.ViewModels.IndexTableroViewModel>;
       <button> <a class="btn btn-primary" href="Tablero/CrearTablero">Crear</a> </button>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Lista de Tableros</h1>
        </div>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th hidden></th>
                    <th hidden></th>
                    <th>Nombre Tablero</th>
                    <th>Descripcion</th>
                    <th>Usuario Propietario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usu in Model)
                {
                    <tr>
                        <td hidden @usu.Id></td>
                        <td hidden @usu.Id_Usuario_Propietario></td>
                        <td>@usu.Nombre</td>
                        <td>@usu.Descripcion</td>
                        <td>@usu.NombreUsuario</td>
                        <td>
                            <a class="btn btn-warning" href="Tablero/ModificarTablero?id=@usu.Id">Modificar</a>
                            <a class="btn btn-danger" href="Tablero/EliminarTablero?id=@usu.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
@section Scripts{<partial name="_ValidationScriptsPartial"/>}