@model tl2_tp10_2023_RicardoRobinson1410.ViewModels.ModificarTableroViewModel
<form asp-controller="Tablero" asp-action="ModificarTablero" method="post">
  <div class="form-group">
    <input hidden asp-for="@Model.Id">
    <label asp-for="@Model.Nombre">Nombre</label>
    <input type="text" class="form-control" asp-for="@Model.Nombre" aria-describedby="emailHelp">
    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    <small id="emailHelp" class="form-text text-muted">Por favor Ingrese su nombre</small>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Descripcion">Descripcion</label>
    <input type="text" class="form-control" asp-for="@Model.Descripcion">
    <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Id_Usuario_Propietario">Usuario Propietario</label>
    <select class="form-select" asp-for="@Model.Id_Usuario_Propietario" aria-label="Default select example">
      <option value="@null"></option>
  @foreach(var usu in Model.ListaUsuarios)
  {
    <option value="@usu.Id">@usu.Nombre_De_Usuario</option>
  }
</select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}