@model List<tl2_tp10_2023_RicardoRobinson1410.ViewModels.IndexTareaViewModel>
    <button ><a class="btn btn-primary" href="Tarea/CrearTarea">Crear Tarea</a></button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">descripcion</th>
      <th scope="col">estado</th>
      <th scope="col">color</th>
      <th scope="col">Tablero</th>
      <th scope="col">Usuario</th>
      <th>Acciones</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    @foreach(var tar in Model)
    {
    <tr>
      <hidden @tar.Id>   
      <th scope="row">@tar.Nombre</th>
      <td>@tar.Descripcion</td>
      <td>@tar.Estado</td>
      <td>@tar.Color</td>
      <td>@tar.NombreTablero</td>
      <td>@tar.NombreUsuario</td>
      <td><a class="btn btn-warning" href="Tarea/ModificarTarea?id=@tar.Id">Modificar</a></td>
      <td><a class="btn btn-danger" href="Tarea/EliminarTarea?id=@tar.Id">Eliminar</a></td>
    </tr>
    }
  </tbody>
</table>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}