@model tl2_tp10_2023_RicardoRobinson1410.ViewModels.CrearUsuarioViewModel;

<form asp-controller="Usuario" asp-action="CrearUsuario">
    <div class="FormularioUsuLabel">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="@Model.Rol"></label>
    <select class="form-control" asp-for="@Model.Rol">
      <option value="@rolesUsuario.administrador">Administrador</option>
      <option value="@rolesUsuario.operador">Operador</option>
    </select>
    <span asp-validation-for="@Model.Rol" class="text-danger"></span>
  </div>
  <div>
    <label asp-for="@Model.Contrasenia"></label>
        <input type="password" asp-for="@Model.Contrasenia">
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
  </div>
    <div class="FormularioUsuSubmmit">
        <button type="submit">Submit</button>
    </div>
    
</form> 
@section Scripts{<partial name="_ValidationScriptsPartial"/>}